.time-selector {
  font-size: 6rem;
  color: rgba(255, 255, 255, .5);

  select {
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    color: rgba(255, 255, 255, .5);
    outline: 0;
    vertical-align: middle;

    option {
      color: black;
      padding: 0 10px;
    }
  }
}