.pages-app {
  height: 100%;
  display: flex;
  flex-flow: column;

  > header {
    flex: 1 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    > div {
      padding-bottom: 50px;
    }
  }

  > main {
    flex: 0 0 50vmin;
    display: flex;
    justify-content: center;
  }

  > footer {
    flex: 1 0 0;
    display: flex;
    align-items: flex-end;
  }
}