@import "../node_modules/normalize.css/normalize.css";


*, *:before, *:after {
  box-sizing: inherit;
  font-size: inherit;
}

html {
  height: 100%;
  font-size: 14px;
  box-sizing: border-box;
}

body {
  height: 100%;
  font: 1rem/1.618 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: linear-gradient(to bottom, #00A388 0%, #79BD8F 100%);
  margin: 0;
}

#root {
  height: 100%;
}