@import "../node_modules/normalize.css/normalize.css";

*, *:before, *:after {
  box-sizing: inherit;
  //-webkit-user-select: none;
}

html {
  font-size: 14px;
  box-sizing: border-box;
}

body {
  font: 1rem/1.618 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #fafafa;
}